# Configuration file ionolabtec.exe v1.0
# Please, always enclose the values given on the right-hand side with double quotes.
#
# Remote Resources (HTTP/FTP Download Sites)
# Please use comma as the separator between different URLs
# CRINEX files with filenames in Hatanaka format (*.*d.Z) would be downloaded from directories arranged in year/dayofyear format (e.g., 2015/001)
rinexsites:    "http://anonymous:any%40hotmail.com@garner.ucsd.edu/pub/rinex/, ftp://igs.ensg.ign.fr/pub/igs/data/, ftp://geodaf.mt.asi.it/GEOD/GPSD/RINEX/, ftp://gnss1.tudelft.nl/rinex/"
# CODE EPH files (COD*.EPH.Z) would be downloaded from directories arranged in yearly format (e.g., 2015)
sp3sites_code: "http://www.aiub.unibe.ch/download/CODE/"
# IGS SP3 files (ig*.sp3.Z) would be downloaded from directories arranged weekly according GPS week number (e.g., 1860)
sp3sites_igs:  "ftp://garner.ucsd.edu/pub/products/, ftp://cddis.gsfc.nasa.gov/pub/gps/products/, ftp://igscb.jpl.nasa.gov/pub/product/"
# CODE DCB files (P1*.DCB.Z) would be downloaded from directories arranged in yearly format (e.g., 2015)
dcbsites:      "http://www.aiub.unibe.ch/download/CODE/"
# IONEX files (*.*i.Z) would be downloaded from directories arranged in year/dayofyear format (e.g., 2015/001)
ionexsites:    "ftp://cddis.gsfc.nasa.gov/pub/gps/products/ionex/"
#
# Current Working Directory (the application will run in this folder, other folders can be given relative to this folder)
cwd:           "."
# Folder in which the applcation will find the wget executable
appsfolder:    "apps"
#
# Local Resources (i.e., local directories that will be searched before attempting to download files from the remote sites given above)  
# RINEX/CRINEX files (*.o, *.d, *.o.gz, *.o.Z, *.d.gz, *.d.Z) will be searched in directories arranged in year/dayofyear format (e.g., 2015/001)
rinexfolder:  "data/RINEX"
# EPH/SP3 files (*.EPH, *.EPH.Z, *.sp3, *.sp3.Z) will be searched in directories arranged in yearly format (e.g., 2015)
sp3folder:    "data/SP3"
# CODE DCB files (*.DCB, *.DCB.Z) will be searched in directories arranged in yearly format (e.g., 2015)
dcbfolder:    "data/DCB"
# CODE IONEX files (*.*i.Z) will be searched in directories arranged in year/dayofyear format (e.g., 2015/001)
ionexfolder:  "data/IONEX"
